@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #14181c;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: #101316;
    height: 50px;
    padding: 0 7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.navbar{
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar-item{
    margin-right: 1em;
    display: block;
}

.navbar-item a{
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5em 5em;
}

.card{
    width: 200px;
    height: 300px;
    border-radius: 3px;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    background-color: #23272c;
    transition: opacity 0.3s ease;
}

.card img{
    max-width: 100%;
}

.card:hover{
    opacity: 0.6;
    cursor: pointer;
}
